

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 card m-5" >
                <div class="card-header row text-align-center">
                    <h3 class="card-title">Termék kategória</h3>
                </div>
                <div class="row">
                    <ul class="list-group">
                        <li class="row list-group-item">
                          <a  data-placement="top" title="Új termék kategória felvétele" class="col-sm-2" 
                            (click)="openModal(0,0)">
                            <span class="material-icons icon-btn">
                                add
                            </span>
                          </a> 
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória szerkesztése"
                            (click)="openModal(1,0)" >
                            <span class="material-icons icon-btn" >
                                create
                            </span>
                          </a>
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória törlése">
                            <span class="material-icons icon-btn">
                                delete
                            </span>
                          </a>
                        </li>
                    </ul>
                </div>
                <br/>
                <div class="row">
                    <ul class="list-group categoryContainer" style="width:100%">
                        <li *ngFor="let item of productCategories" style="width:100%" 
                            (click)="selectProductCategory($event, item.id)" 
                            class="list-group-item d-flex justify-content-between align-items-center"> 
                            {{item.name}} - {{item.slug}} - {{item.active}}
                            <span *ngIf="item.child" class="badge badge-primary badge-pill">{{item.child.length}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 card m-5">
                <div class="card-header row text-align-center">
                    <h3 class="card-title">Termék Főtípus</h3>
                </div>
                <div class="row" *ngIf="productMainTypes.length > 0">
                    <ul class="list-group">
                        <li class="row list-group-item">
                          <a  data-placement="top" title="Új termék kategória felvétele" class="col-sm-2" 
                            (click)="openModal(0,1)">
                            <span class="material-icons icon-btn">
                                add
                            </span>
                          </a> 
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória szerkesztése"
                            (click)="openModal(1,1)" >
                            <span class="material-icons icon-btn" >
                                create
                            </span>
                          </a>
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória törlése">
                            <span class="material-icons icon-btn">
                                delete
                            </span>
                          </a>
                        </li>
                    </ul>
                </div>
                <br/>
                <div class="row">
                    <ul class="list-group mainTypeContainer" style="width:100%">
                        <li *ngFor="let item of productMainTypes" style="width:100%"
                            (click)="selectProductMainType($event, item.id)"
                            class="list-group-item d-flex justify-content-between align-items-center"> 
                            {{item.name}}
                            <span *ngIf="item.child" class="badge badge-primary badge-pill">{{item.child.length}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 card m-5">
                <div class="card-header row text-align-center">
                    <h3 class="card-title">Termék Típus</h3>
                </div>
                <div class="row" *ngIf="productTypes.length > 0">
                    <ul class="list-group">
                        <li class="row list-group-item">
                          <a  data-placement="top" title="Új termék kategória felvétele" class="col-sm-2" 
                            (click)="openModal(0,2)">
                            <span class="material-icons icon-btn">
                                add
                            </span>
                          </a> 
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória szerkesztése"
                            (click)="openModal(1,2)" >
                            <span class="material-icons icon-btn" >
                                create
                            </span>
                          </a>
                          <a class="col-sm-2" data-toggle="tooltip" data-placement="top" title="Termék kategória törlése">
                            <span class="material-icons icon-btn">
                                delete
                            </span>
                          </a>
                        </li>
                    </ul>
                </div>
                <br/>
                <div class="row">
                    <ul class="list-group typeContainer" style="width:100%">
                        <li *ngFor="let item of productTypes" (click)="selectProductType($event, item.id)"
                            class="list-group-item d-flex justify-content-between align-items-center"> 
                            {{item.name}}
                            <span *ngIf="item.child" class="badge badge-primary badge-pill">{{item.child.length}}</span>
                        </li>
                    </ul>
                </div>
            </div>         
        </div>
    </div>
</div>
        
<!-- Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{productCategoryModal.Title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="clearModal();modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="productCategoryService.productCategoryModal" autocomplete="on" (keydown.enter)="$event.preventDefault()">
        <div class="form-group col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Termék kategória név</span>
                </div>
                <input formControlName="Name" type="text" class="form-control" 
                (keyup)="setSlug($event)" (change)="setSlug($event)"
                placeholder="Termék kategória név" aria-describedby="basic-addon1" 
                [value]="productCategoryModal.Name">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Kereső optimalizált név</span>
                </div>
                <input disabled formControlName="Slug" type="text" class="form-control" 
                placeholder="Kereső optimalizált név" aria-describedby="basic-addon1" 
                [value]="productCategoryModal.Slug">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Azonosítókód</span>
                </div>
                <input formControlName="Id" type="text" class="form-control" 
                disabled placeholder="Azonosítókód" aria-describedby="basic-addon1" 
                [value]="productCategoryModal.Id">
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveModal(); clearModal();modal.close()">Save</button>
    </div>
</ng-template>