/* You can add global styles to this file, and also import other style files */
.font-dark{
    color:#555555!important;
}

.flaot-right{
    float: right;
}

.btn-icon{
    cursor: pointer;
    size: 22px;
}